#
# Excluded objects
#

*.py[cod]
.*
!.babelrc
!.coveragerc
!.dockerignore
!.flowconfig
!.gitignore
!.nvmrc
!.pylintrc
!.travis*
!.eslintrc.json
*.log
*.pot
*.pyc
local_settings.py
*settings_local.py
__pycache__/
build/
dist/
*\.egg*
# data
/docs/_build/
/media/
/static/
/node_modules/
webpack-bundle.json
*~
*.sublime*
build/
Vagrantfile
puppet/
assets/bundles/*
log/*
run/*
*.sqlite3
*.db
*.sqlite3-journal
*.log
*.css.map
*.e4p

#
# local midifiable
#

gateway/settings_local.py
Makefile.def

#
# Included objects
#

!.gitignore
!.reviewboardrc
