/*
  Base styles
*/
body {
  /* Margin bottom by footer height */
  margin-bottom: -60px;
}

/*
  HEADER
*/

/*
  FOOTER
*/

.footer {
  color: #fff;
  text-align: center;
  line-height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/*
  PANEL WRAPPER
*/

.panel-wrapper {
  text-align: center;
  margin-top: 12%;
}

/*
  INDEX
*/

.panel-wrapper-main-menu {
  width: 50%;
  margin: 12% auto;

  .btn-landing {
    margin: 0 5%;
  }
}


/*
  PANEL CONTAINER
*/

.panel-wrapper-container {
  .panel-heading {
    h3 {
      font-size: 24px;
    }
  }

  .panel-body {
    div[class^='col'] {
      text-align: left;
      float: none;
      margin: 0 auto;

      .help-block .btn-link {
        padding: 0;
      }
    }
  }
}

