<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}

<html lang="en" class="no-js">
<head>
	<title>{% block title %}DASH Rippe Gateway{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	{% include "favicon.html" %}

	{% compress css %}
		<!-- Bootstrap -->
		<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<!-- End Bootstrap -->

		<link type="text/less" rel="stylesheet" href="{% static 'less/base.less' %}">
		{% block head_css %}{% endblock head_css %}
	{% endcompress %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Bootstrap -->
	<script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
	<!-- End Bootstrap -->
	{% compress js inline %}
		{% block head_js %}
		{% endblock head_js %}
	{% endcompress %}

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

	<body>
		{% block header %}
			{% include "includes/_navbar.html" %}
		{% endblock header %}

		<div class="container main-content">
			{% block content %}
			{% endblock content %}
		</div>

		{% block footer %}
			<i>Footer</i>
		{% endblock footer %}

		{% compress js inline %}
			{% block body_js %}{% endblock body_js %}
		{% endcompress %}
	</body>
</html>

